@import "47fw.css";
@import "assets/icons/bootstrap-icons.css";

html, body{
    background-color: #111111;
}

html, body, h1, h2, h3, h4, h5, h6, p{
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}
/*Home.html*/
/*Home header*/
.home-header{

} 

.home-post-filter-btn{
    background-color: #3a3a3a;
    border-radius: 999999px;
    color: #fff;
}

.home-post-filter-btn:hover, .home-post-filter-btn:focus{
    color: #fff;
    outline: none !important;
}

.home-post-filter-menu{
    background-color: #3b3b3b;
}

/*Post*/
.wide-post{
    background-color: #1b1b1b;
    border-radius: 20px;
}

.wide-post-head{
    position: relative;
    border-radius: 20px;
    border: none;
}

.wide-post-username, .wide-post-like, .wide-post-save{
    position: absolute;
    background-color: rgba(255, 255, 255, 1);
    padding: 7px;
    border-radius: 9999px;
    color: #000;
}

.wide-post-username h6, .wide-post-like h6, .wide-post-save h6{
    color: #000;
    display: inline-block;
}

.wide-post-username{
    background-color: rgba(255, 255, 255, 1);
    padding-top: 4px;
    padding-bottom: 4px;
    top: -12px;
    left: 15px;
    box-shadow:0px 8px 15px rgba(0, 0, 0, 0.4);
}

.wide-post-profile-image{
    border-radius: 20px;
    margin-top: -1px;
    margin-left: -2px;
    width: 25px !important;
    height: 25px;
}
.wide-post-like{
    bottom: 10px;
    left: 15px;
}

.liked{
    color: #ff4539;
}

.wide-post-save{
    bottom: 10px;
    right: 15px;
}

.wide-post-head img{
    width: 100%;
    max-width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.wide-post-info{

}

.wide-post-title{
    display: inline-block;
    color: #fff;
    font-weight: 600;
}

.wide-post-engine{
    display: inline-block;
    color: #a7a7a7;
}

.wide-post-price{
    display: inline-block;
    color: #2fd159;
    font-weight: 600;
}

@media only screen and (min-width: 768px) {
    .wide-post{
        margin-left: 10px;
        margin-right: 10px;
    }
}

/*Pagination*/
.page-link {
    color: #fff;
    background-color: #3a3a3a;
    border: 1px solid #3a3a3a;
}

.page-item.disabled .page-link{
    color: #a7a7a7;
    background-color: #3a3a3a;
    border: 1px solid #3a3a3a;
}


/*Bottom navigation bar*/
.bottom-nav{
    background-color: #111111;
    color: #fff;
    padding-top: 0;
    padding-bottom: 0;
}

.bottom-nav a{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.bottom-nav ul{
    width: 100%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.bottom-nav li{
    width: 20%; text-align: center;
}

.bottom-nav-btn-active{
    color: #fff;
}

.bottom-nav i{
    font-size: 18pt;
}

/*Footer*/
.footer{

}

/*Search.html*/
.main-search{
    background-color: #1b1b1b;
    border-radius: 9999px;
    color: #fff !important;
    max-width: 500px;
}

.main-search-input{
    background: none;
    box-shadow: none;
    border: none;
    color: #fff !important;
    outline: none;
}

.main-search-input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #a7a7a7;
    opacity: 1; /* Firefox */
}

.main-search-button, .search-filter-submit-button{
    background-color: #3b3b3b;
    border-radius: 9999px;
    border: 1px solid transparent;
    color: #fff;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    padding: .375rem .75rem;
    font-size: 1rem;
    outline: none !important;
}

.main-search-button:hover, .search-filter-submit-button:hover{
    color: #fff;
}

.main-search-input:hover, .main-search-input:focus{
    background: none;
    box-shadow: none;
    border: none;
    outline: none;
}

.search-filter{
    background-color: #1b1b1b;
    border-radius: 15px;
    max-width: 500px;
}

.search-filter-top-bar-element{
    cursor: pointer;
}

.search-filter-top-bar i, .search-filter-top-bar h6{
    color: #a7a7a7;
    font-weight: 600;
}

.search-filter-top-bar-active i, .search-filter-top-bar-active h6{
    color: #0a84ff;
}

.search-filter-selector{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    width: 100%;
    padding: .375rem 1.75rem .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    vertical-align: middle;
    background-color: #3b3b3b;
    border: 1px solid #3b3b3b;
    border-radius: .25rem;
    outline: none;
}

.search-filter-container{
    padding: 10px;
}

/*Krijo postim*/
.add-post-card{
    background-color: #1b1b1b;
    color: #fff;
}

.add-post-photo{
    background-color: #3b3b3b;
    color: #fff;
}

.add-post-photo:hover, .add-post-photo:active{
    background-color: #4d4d4d;
    color: #fff;
}

.x-selector{
    cursor: pointer; 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    width: 100%;
    padding: .375rem 1.75rem .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    vertical-align: middle;
    background-color: #3b3b3b;
    border: 1px solid #3b3b3b;
    border-radius: .25rem;
    outline: none;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23ffffff%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
}

.x-selector:hover, .x-selector:active{
    background-color: #4d4d4d;
}

.x-input{
    color: #fff !important;
    background-color: #3b3b3b !important;
    border: 1px solid #3b3b3b !important;
    box-shadow: none !important;
}

.x-input:active, .x-input:hover{
    background-color: #4d4d4d !important;
    border: 1px solid #4d4d4d !important;
}

.x-input-text{
    color: #fff !important;
    background-color: #666666 !important;
    border: 1px solid #666666 !important;
}